@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
html {
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif; }

.gear {
  fill: #f5d78a; }

.first-gear {
  position: fixed;
  top: 4.9rem;
  left: 3.7rem;
  z-index: 1200; }

.second-gear {
  position: fixed;
  top: 8.1rem;
  left: 13.5rem; }

a {
  color: #e6e6e6; }
  a:hover {
    color: seagreen; }

.header {
  background: #0e1111;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  margin: 0 0 -10rem 0; }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 20%; }
    .header__nav > a {
      padding: 40px;
      text-decoration: none;
      color: white;
      display: block;
      font-weight: 300;
      font-size: 2.5rem; }
      .header__nav > a:hover {
        background: blue; }

.section--content {
  width: 100%; }

.section-header {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 0 0 3rem 15%; }

main {
  padding: 0 0 0 0; }
  main > section {
    padding: 0 8rem;
    min-height: 100vh;
    display: flex;
    align-items: center; }
    main > section .projects {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; }
      main > section .projects > .project--tiles {
        min-width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        main > section .projects > .project--tiles > div {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          width: 300px;
          height: 600px;
          border-radius: 12px;
          background-image: url("/img/markus-spiske-qjnAnF0jIGk-unsplash.jpg");
          background-size: contain;
          text-align: center;
          color: #fff;
          margin: 0 20px; }
          main > section .projects > .project--tiles > div > .description {
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.747);
            border-radius: 12px;
            font-size: 1.6rem; }
            main > section .projects > .project--tiles > div > .description > h4 {
              font-weight: 600;
              text-transform: uppercase;
              font-size: 24px;
              padding: 0 0 10px 0;
              letter-spacing: 5px;
              line-height: 40px; }
  main .banner-about {
    color: #f5d78a; }
  main .main__section--about {
    background-color: #3b444b; }
    main .main__section--about .about__content {
      display: flex;
      justify-content: right;
      align-items: center; }
      main .main__section--about .about__content--information {
        display: flex;
        flex-direction: column;
        text-align: right;
        width: 50%;
        font-size: 1.2rem;
        padding: 3rem; }
        main .main__section--about .about__content--information .about-name {
          font-size: 6.5rem;
          font-weight: 300;
          margin: 0 -5rem 3rem 0;
          color: #f5d78a; }
        main .main__section--about .about__content--information #true-contacts {
          margin: 0 -4rem 0 0;
          padding: 5rem 0 0 0; }
          main .main__section--about .about__content--information #true-contacts h3 {
            font-size: 3.5rem;
            color: #f5d78a; }
      main .main__section--about .about__content .me {
        max-height: 60rem;
        border-radius: 50%;
        shape-outside: circle(50%);
        clip-path: circle(50%); }

.about-para {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-align: right;
  color: #e6e6e6;
  line-height: 3rem; }

.contact-info {
  display: flex;
  justify-content: right;
  flex-direction: row; }
  .contact-info a {
    color: #ff2841;
    font-weight: 600;
    font-size: 2.5rem;
    padding: 1rem; }

footer {
  background: #0e1111;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  font-size: 1.8rem;
  padding: 10px; }
  footer .social-icons {
    position: absolute;
    right: 50%;
    bottom: 20px; }
    footer .social-icons i {
      padding: 20px;
      background-color: #0e1111;
      border-radius: 50%; }
    footer .social-icons .fa-facebook {
      color: blue; }
    footer .social-icons .fa-google {
      color: #ea4335; }
  footer #local-scroll {
    position: absolute;
    right: 8rem;
    bottom: 3rem;
    background-color: #0e1111;
    padding: 2rem;
    border-radius: 50% 50% 0 0; }
    footer #local-scroll :hover {
      color: white; }
