@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");

$black: #0e1111;
$secondary-black: #232b2b;
$gray: #585851;
$gray-blue: #3b444b;
$secondary-gray: rgb(142, 151, 153);
$red: #ff2841;
$off-white: rgb(230, 230, 230);
$gold: rgb(245, 215, 138);
html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: $off-white;
    &:hover {
        color: seagreen;
    }
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0 0 -10rem 0;
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        background: $black;
        z-index: 200;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 20%;
        & > a {
            padding: 40px;
            text-decoration: none;
            color: white;
            display: block;
            font-weight: 300;
            font-size: 2.5rem;
            &:hover,
            :active {
                background: $gold;
                color: $black;
                font-weight: 400;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }
    .header {
        &__container{
            justify-content: center;
        }
        &__nav {
            & > a {
                padding: 15px;
            }
        }
    }
}

////////////////////////////////GEARS////////////////////////////////



.gear {
    fill: rgb(245, 215, 138);
}

.first-gear {
    position: absolute;
    top: 4.9rem;
    left: 3.7rem;
    z-index: 1200;
}

.second-gear {
    position: absolute;
    top: 8.1rem;
    left: 13.5rem;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .gear {
        height:55px;
    }

    .first-gear {
        top: 25px;
        left: 10px;
    }

    .second-gear {
        top: 41px;
        left: 60px;
    }
}

/////////////////////////Content

.section-header {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 10px;
    padding: 0 0 3rem 15%;
}

main {
    padding: 0 0 0 0;
    > section {
        padding: 0 8rem;
        min-height: 100vh;
        display: flex;
        align-items: center;
        overflow-x: hidden;
    }
    // Projects/////////////////////////////////////////////////////////////////////////
    .main__section--projects {
        background-color: $gray;
    }

    .project-item {
        color: $off-white;
        padding: 15px;
        border-radius: 20px;
        margin: 100px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-description {
        font-size: 1.5rem;
        padding: 20px 0;
    }

    .project-name {
        font-size: 2.3rem;
        padding: 20px 0;
    }

    .projects {
        display: flex;
        align-items: center;
    }

    #projects {
    }

    .section--content {
        width: 100%;
    }

    // about////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    .banner-about {
        color: $gold;
    }

    .main__section--about {
        background-color: $gray-blue;
        .about__content {
            display: flex;
            justify-content: center;
            align-items: center;
            &--information {
                display: flex;
                flex-direction: column;
                text-align: right;
                width: 50%;
                font-size: 1.2rem;
                padding: 3rem;
                .about-name {
                    font-size: 6.5rem;
                    font-weight: 300;
                    margin: 0 -5rem 3rem 0;
                    color: $gold;
                }
                #true-contacts {
                    margin: 0 -4rem 0 0;
                    padding: 5rem 0 0 0;
                    h3 {
                        font-size: 3.5rem;
                        color: $gold;
                    }
                }
            }
            .me {
                max-height: 450px;
                border-radius: 50%;
                shape-outside: circle(50%);
                clip-path: circle(50%);
            }

        }
    }
}

.me-mobile {
    display: none;
}

.about-para {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-align: right;
    color: $off-white;
    line-height: 3rem;
}

.contact-info {
    display: flex;
    justify-content: right;
    flex-direction: row;
    a {
        color: $red;
        font-weight: 600;
        font-size: 2.5rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .banner-about {
        color: $gold;
    }

    .main__section--about {
        background-color: $gray-blue;
        .about__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            #true-contacts {
                margin: 0 -4rem 0 0;
                padding: 5rem 0 0 0;
                h3 {
                    font-size: 3.5rem;
                    color: $gold;
                }
            }
        }

        .me-mobile {
            display: block;
            margin: 50px;
            height: 300px;
            border-radius: 50%;
            shape-outside: circle(50%);
            clip-path: circle(50%);
        }
        .me{
            display: none;
        }
    }

    main .main__section--about .about__content--information {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0;
    }
    main .main__section--about .about__content--information .about-name{
        text-align: center;
        font-size: 4rem;
        margin: 20px auto;
    }
    main .main__section--about .about__content--information .about-para{
        text-align: center;
    }

    .contact-info {
        display: flex;
        justify-content: right;
        flex-direction: row;
        a {
            color: $red;
            font-weight: 600;
            font-size: 2.5rem;
            padding: 1rem;
        }
    }

}

.about-para {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-align: right;
    color: $off-white;
    line-height: 3rem;
}

.contact-info {
    display: flex;
    justify-content: right;
    flex-direction: row;
    a {
        color: $red;
        font-weight: 600;
        font-size: 2.5rem;
        padding: 1rem;
    }
}

footer {
    background: $black;
    width: 100%;
    position: sticky;
    bottom: 0;
    color: white;
    font-size: 1.8rem;
    padding: 10px;
}

#local-scroll {
    position: absolute;
    right: 8rem;
    bottom: 3rem;
    background-color: $black;
    padding: 2rem;
    border-radius: 50% 50% 0 0;
    :hover {
        color: $gold;
    }
}

.social-icons {
    position: fixed;
    right: 50%;
    bottom: 20px;
    z-index: 300;
    i {
        padding: 20px;
        background-color: $black;
        border-radius: 50%;
    }
    .fa-facebook {
        color: blue;
    }
    .fa-google {
        color: #ea4335;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        background: $black;
        width: 100vw;
        position: sticky;
        bottom: 0;
        color: white;
        font-size: 12px;
        padding: 5px;
    }

    .social-icons {
        position: absolute;
        left: 5px;
        bottom: 20px;
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        i {
            padding: 10px;
            background-color: $black;
            border-radius: 50%;
        }
        .fa-facebook {
            color: blue;
        }
        .fa-google {
            color: #ea4335;
        }
    }
    #local-scroll {
        position: absolute;
        right: 20px;
        bottom: 10px;
        background-color: $black;
        padding: 1rem;
        border-radius: 50% 50% 0 0;
        scale: 80%;
    }
}